/* body */

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;}

    /* header */
 .header-menu-link-list {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #2E2F42;
     list-style: none;
 }

 .header-item {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #2E2F42;
     list-style: none;

 }

 .header-list {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #2E2F42;
     text-decoration: none;
     list-style: none;
 }


 .header-logo-web {
     font-family: 'Raleway', sans-serif;
     font-style: normal;
     font-weight: 800;
     font-size: 18px;
     line-height: 1.16;
     display: flex;
     align-items: center;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #4D5AE5;

 }

 .logo-studio-link {
     font-family: 'Raleway', sans-serif;
     font-style: normal;
     font-weight: 800;
     font-size: 18px;
     line-height: 1.16;
     display: flex;
     align-items: center;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #2E2F42;
     ;
 }


/* addres */

.address-contact-link{
    list-style: none;
}

  .header-address-link-list{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        list-style: none;
  }
    /* section-hero */
.portfolio-hidden{
    list-style: none;
}
.portfolio-hero-list{
    list-style: none;
}

        .portfolio-hero-btn-all{
            background: #404BBF;
                box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
                border-radius: 4px;
        }

                .portfolio-button{
font-family: "Roboto" sans-serif;
font-weight: 500;
font-size: 16px;
display: flex;
line-height: 1.5;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color:#4d5ae5;
background-color:#F4F4FD;
cursor:pointer ;
list-style: none;
                }
        /* section -2 */
        .list{
            list-style: none;
        }

        .font-title{
                font-weight: 500;
                font-size: 20px;
                line-height: 1.20;
                letter-spacing: 0.02em;
                color: var(--third-text-color);
                list-style: none;
                
        }
        .portfolio-button:hover,
        .portfolio-button:focus{
            color: var(--white-color);
            background-color: var(--accent-color);
        }
        .font-text{
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.02em;
                color:var(--third-text-color);
                list-style: none;
        }
        /* footer */
                .footter-general{
                    background: #2E2F42;
                }

            .footer-logo-web{
                font-family: 'Raleway',sans-serif;
                    font-style: normal;
                    font-weight: 800;
                    font-size: 18px;
                    line-height: 1.16;
                    display: flex;
                    align-items: center;
                    letter-spacing: 0.03em;
                    text-transform: uppercase;
                    color: #4D5AE5;
                   
            }
                    .logo-studio-link{
                        font-family: 'Raleway',sans-serif
                            font-style: normal;
                            font-weight: 800;
                            font-size: 18px;
                            line-height: 1.16;
                            display: flex;
                            align-items: center;
                            letter-spacing: 0.03em;
                            text-transform: uppercase;
                            color: #F4F4FD;
                           
                    }
                   .footer-general-content{
                    font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 1.5;
                        letter-spacing: 0.02em;
                        color: #F4F4FD;
                   }